<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BET Commerce</title>
    <script src="~/js/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/semantic.min.css" />
    <script src="~/js/semantic.min.js"></script>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body style="background:#f7f7f7">
    @await Html.PartialAsync("_NavView")

    <div class="ui container" style="margin:30px">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $('.ui.rating').rating();
        $('.ui.dropdown').dropdown();
    </script>
</body>
</html>