@using BetCommerce.WebClient.Services
@inject IShoppingCartService cartService
<div class="ui menu inverted  red fluid" style="border-radius:0;">
    <a class="active item" href='/'><i class="home icon"></i>Home</a>
    <a class="active item" href='/shop'><i class="cart icon"></i>Shopping</a>
    <a class="active item" href='/cart/'>
        <i class="cart icon"></i>
        <span style="margin-right:4px">Cart</span><span>&#40;</span><span class="shopping-cart-count">0</span><span>&#41;</span>
    </a>
    <div class="right item">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <a class="ui dropdown" tabindex="0">
                    <i class="cart icon"></i><span><b>@User.Identity.Name</b></span>
                    <div class="menu" tabindex="-1">
                        <div class="item" onclick="location.href='/'">My Account</div>
                        @if (!User.IsEmailConfirmed())
                        {
                            <div class="item" onclick="location.href='/account/verifyEmail'">Verify Email</div>
                        }
                        <div class="item" onclick="location.href='/account/logout'">Logout</div>
                    </div>
                </a>
            }
            else
            {
                <a class="ui inverted button" style="margin-left:4px" href="/Account/login">Log in</a>
                <a class="ui inverted button" style="margin-left:4px" href="/Account/Register">Register</a>
            }
        }
    </div>
</div>
@if ((User.Identity.IsAuthenticated) && (!User.IsEmailConfirmed()))
{
    <div class="ui container">
        <div class="ui icon warning message">
            <i class="mail icon"></i>
            <div class="content">
                <div class="header">
                    Confirm your Email Address? (@User.Identity.Name)
                </div>
                <p>Please confirm your Email Address to complete your account registration  <a href="/Account/VerifyEmail" class="ui small button basic blue">Confirm Now</a></p>
            </div>
        </div>
    </div>
}
